doctype html
html
  head
    title My Site - #{title}
    block link
        link(rel="preconnect" href="https://fonts.gstatic.com")
        link(href="https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@500&display=swap" rel="stylesheet")
    block scripts
    block style
        style
            include ../static/css/container.css
            include ../static/css/nav.css
            include ../static/css/home.css
            include ../static/css/section.css
            include ../static/css/contact.css
            include ../static/css/footer.css
  body
    nav#navbar
                ul
                    div#logo
                        img(src="/static/images/logo1.png" alt="Cannot load")
                    li #[a(href='/') Home]
                    li #[a(href='') About]
                    li #[a(href='/') Services]
                    li #[a(href='/contact') Contact us]
    block content
    block foot
        footer#footer
                | Copyright &copy 2021 danceAcademy.com | All rights reserved