extends base.pug

block content
    div#contact-form
        h2.sub-heading Contact Us
        form(action="/contact" method="POST")
            input(type="text" placeholder="Name" name="name")
            input(type="email" placeholder="Email" name="email")
            input(type="number" placeholder="Age" name="age")
            div.radio
                lable Gender: 
                lable(for="male") Male
                input(type="radio" id="male" name="gender" value="male")
                lable(for="female") Female
                input(type="radio" id="female" name="gender" value="female")
                lable(for="other") Other
                input(type="radio" id="other" name="gender" value="other")
            label(for="message") Message   
            textarea(id="message" name="message", cols="30", rows="10" placeholder="Type here!")
            button.btn(type="submit") Submit
