<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>using palne html in pug</title>
    style
        include ../static/style.css
</head>

<body>
    <nav id="navbar">
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="services">Services</a></li>
            <li><a href="/contact-us">Contact Us</a></li>
        </ul>
    </nav>

    <div id="container">
        <h1>#{heading}</h1>
        
        <form action="/" method="POST" id="form-group">
            <input type="text" placeholder="Name" name="name">
            <input type="email" placeholder="Email" name="email">
            <input type="number" placeholder="Age" name="age">
            <div class="radio">
                <label for="">Gender: </label>
                <label for="male">Male</label>
                <input type="radio" id="male" name="male">
                <label for="female">female</label>
                <input type="radio" id="female" name="female">
                <label for="other">Other</label>
                <input type="radio" id="other" name="other">
            </div>
            <button type="submit" class="btn">Submit</button>
        </form>
    </div>
    <!-- p
        |#[strong #{content}] -->
</body>

</html>