#contact-section {
    position: relative;
}

#contact-section::before {
    content:"";
    background: url('/Web Development/Project 2 using HTML and CSS/Images/contactUs.jpg') no-repeat center center/cover;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.6;
    margin: 20px 0px;
}

.input-style {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contact-box input, #contact-box textarea {
    width: 90%;
    margin: 0.5rem;
    padding: 0.5rem;
    border: 1px solid  black;
    border-radius: 20px;
    font-size: 1.1rem;
    outline: none;
}

#contact-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}

#contact-box lable {
    font-size: 1.3rem;
}

#contact-box form .form-group:nth-child(5) {
    position: block;
    width: 30%;
    margin:auto;
}

/* footer */
footer {
    text-align: center;
}


